.hero {
  height: 60vh;
  background: url("../assets/hero-banner/background.jpg") center/cover no-repeat;
  position: relative;

  &__overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
  }

  &__socials {
    position: fixed;
    top: 6rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      background-color: red;
      color: #fff;
      font-size: 1rem;
      text-decoration: none;

      width: 30px;
      height: 30px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: white;
        color: red;
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-family: "Tan-kulture";
    font-weight: 400;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
