@font-face {
  font-family: "Tan-kulture";
  src: url("../assets/fonts/TAN\ KULTURE-DISPLAY.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Améliore les performances */
}
